/**
 * General styles.
 */

.section {
  width: 90%;
  margin: 0px auto;
}

.title, #header {
  text-align: center;
}

a:hover {
  border-bottom: none;
}

a:focus, .nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  outline: none;
}

a.logo {
  display: block;
  float: left;
  position: absolute;
  z-index: 1;
}

body.not-logged-in a.logo {
  float: none;
  padding-right: 20px;
}

a.logo:hover {
  border-bottom: none;
}

.content {
  padding: 0px 25px;
}

.block-title {
  text-align: center;
}

.br-line {
  height: 1px;
  position: relative;
  background-color: #505a5c;
  margin: 10px 0px;
}

/**
 * Login and register blocks.
 */

#block-go1auth-go1auth-hello .content {
  text-align: center;
}

#block-user-login {
  width: 300px;
  clear: both;
}

/**
 * h5p_videos view.
 */

.view-h5p-videos.view-display-id-my_h5p_videos_block a.standard-btn {
  margin-bottom: 20px;
}

.view-h5p-videos.view-display-id-all_h5p_videos_block .views-field-rendered-entity {
  width: 100%;
}

.view-h5p-videos.view-display-id-all_h5p_videos_block .node-h5p-content header,
.view-h5p-videos.view-display-id-all_h5p_videos_block .node-h5p-content footer {
  display: none;
}

/**
 * FrontPage.
 */

body.front #block-user-login h2 {
  display: none;
}

body.front input[type="submit"] {
  margin: 20px 20px 20px 10px;
}

body.front.logged-in .tabs {
  display: none;
}

/**
 * Footer.
 */

.footer {
  background-color: #000;
  color: #fff;
}

.footer h3 {
  margin-bottom: 0px;
}

.footer .menu li {
  display: inline-block;
  padding-right: 10px;
}

.footer .menu li a {
  display: inline-block;
  padding: 0px;
}

.footer .menu li a:hover {
  background-color:  transparent;
  border-bottom: none;
}

.footer .socialConnect .menu {
  font-size: 22px;
  line-height: 38px;
  float: left;
  margin-left: 20px;
}

.footer .footerBottom {
  margin-top: 23px;
}