/**
 * General styles.
 */

.section {
  width: 90%;
  margin: 0px auto;
}

.title, #header {
  text-align: center;
}

a#logo {
  display: block;
  float: left;
  position: absolute;
  z-index: 1;
}

body.not-logged-in a#logo {
  float: none;
  padding-right: 20px;
}

a#logo:hover {
  border-bottom: none;
}

.content {
  padding: 0px 25px;
}

#block-go1auth-go1auth-hello .content {
  text-align: center;
}

#block-user-login {
  width: 300px;
  float: right;
}

.block-title {
  text-align: center;
}

.view-h5p-videos a.standard-btn {
  margin-bottom: 20px;
}

/**
 * FrontPage.
 */

body.front #block-user-login h2 {
  display: none;
}

body.front input[type="submit"] {
  margin: 20px 20px 20px 10px;
}

body.front.logged-in .tabs {
  display: none;
}
