/**
 * Eric Meyer's reset style.
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover {
  text-decoration: none;
}

/**
 * Styleguide v0.8.
 */

body {
  font-family: 'Open Sans';
}
body {
  font-size: 16px;
  line-height: 28px;
  color: #121f22;
}
p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px
}

#content {
  font-size: 18px;
  line-height: 30px;
}
#block-system-main p, #block-system-main h1, #block-system-main h2, #block-system-main h3, #block-system-main h4, #block-system-main h5, #block-system-main h6 {
  margin-bottom: 24px
}

h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: -50%;
}
h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -50%;
}
h3 {
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -50%;
}
h4 {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -25%;
}
h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -25%;
}

a, li a.active {
  color: #56a9c0;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid #56a9c0;
  padding-bottom: 2px;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #121f22;
}
input[type="text"], input[type="password"] {
  font-size: 16px;
  color: #121f22;
  width: 300px;
  height: 42px;
  border: 1px solid #e6edf1;
  padding-left: 10px;
}
input[type="text"]:focus, input[type="password"]:focus {
  border: 1px solid #31b8da;
  outline: none;
}
.description {
  font-size: 14px;
  font-weight: italic;
  color: #6c7b7f;
}
::-webkit-input-placeholder {
  font-size: 16px;
  color: #6c7b7f;
}
::-moz-placeholder {
  font-size: 16px;
  color: #6c7b7f;
}
:-ms-input-placeholder {
  font-size: 16px;
  color: #6c7b7f;
}
:-moz-placeholder {
  font-size: 16px;
  color: #6c7b7f;
}

input[type="submit"], a.standard-btn {
  display: inline-block;
  /*margin: 20px 20px 20px 0px;*/
  padding: 5px 30px;
  background-color: #31b8da;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input[type="submit"]:hover, a.standard-btn:hover {
  opacity: 0.9;
}
